# Node
node_modules/
npm-debug.log

# Next.js
.next/
out/
dist/

# Capacitor / build
android/app/build/
android/.gradle/
android/capacitor-cordova-android-plugins/
ios/App/build/
ios/App/Pods/
ios/App/Podfile.lock

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
